@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

/* Navbar Styling */
.nav-styles {
  padding: 16px 28px;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(7px);
}

/* Side Menu Styline */
.side-menu-container {
  font-weight: 600;
  font-size: 13px;
  background: black;
  height: 100vh;
  position: fixed;
  width: 240px;
}

/* Main Grid Styling */
.main-grid-container {
  background: linear-gradient(180deg, rgba(25, 25, 25, 1) 0%, rgba(18, 18, 18, 1) 100%);
  padding: 28px;
  padding-top: 98px;
}

/* Search Grid Styles */
.grid-container {
  margin-top: 70px;
  padding: 28px;
}

/* Horizontal line styles */
.line {
  margin-top: 80px;
  margin-bottom: 40px;
  background: #121212;
}

/* Album Detail Screen */
/* Main Grid Styling */
.album-grid-container {
  padding: 28px;
  padding-top: 98px;
}
